In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('data/online_retail.csv')

In [6]:
pd.isnull(data).sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [7]:
# xác định 1 vài dữ liệu bị null customerID
data[data['CustomerID'].isnull()].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,2010-12-01 11:52:00,0.00,NaN,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,2010-12-01 14:32:00,0.85,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,2010-12-01 14:32:00,1.66,NaN,United Kingdom

In [12]:
# đếm số lượng dữ liệu có quantity < 0
data[data['Quantity'] < 0].shape[0]

10624

In [13]:
data[data['UnitPrice'] < 0].shape[0]

2

In [14]:
data[data['InvoiceNo'].str.startswith('C')].shape[0]

9288